.header {
  background-color: $primary;
  color: white;
}

.img-size {
  width: 80%;
  margin: auto;

  img {
    width: 100%;
    border-radius: 5px;
  }
}

.main {
  padding: 2rem;
}

.input {
  width: 250px;
  height: 250px;
}

.btn {
  background-color: $primary !important;
  border: none !important;
}